@include responsive-max(768px) {
    .home__banner {
        min-height: 500px;
        img {
            height: 500px;
            object-fit: cover;
        }
    }
}
@include responsive-max(575px) {
    .home__banner {
        min-height: 60vh;
        img {
            width: 100%;
            height: 60vh;
            object-fit: cover;
        }
    }
}
