.card__1 {
    height: 100%;
    color: #000;
    display: flex;
    flex-direction: column;
    transition: var(--custom-transition);
    .img__wrap {
        img {
            object-fit: cover;
            aspect-ratio: 1/0.55;
            width: 100%;
        }
    }
    .body {
        background-color: #f5f5f5;
        padding: 15px 20px;
        border: 1px solid #dadada;
        height: 100%;
        h3 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
        }
    }
    &:hover {
        color: #999;
    }
}

.card__2 {
    height: 100%;
    color: #000;
    display: block;
    transition: var(--custom-transition);
    text-align: center;
    .icon {
        background-color: var(--custom-primary);
        text-align: center;
        padding: 20px;
        border-radius: 50%;
        aspect-ratio: 1;
        max-width: 120px;
        display: grid;
        place-content: center;
        border: 10px solid #ccc;
        margin-bottom: 20px;
        margin-inline: auto;
        transition: var(--custom-transition);
    }

    h3 {
        color: #999a9b;
        font-size: 20px;
        transition: var(--custom-transition);
        font-family: Lato;
    }

    &:hover {
        .icon {
            border: 10px solid rgb(85, 85, 85);
        }
        h3 {
            color: rgb(85, 85, 85);
        }
    }
}

.card__3 {
    height: 100%;
    padding: 30px 15px;
    text-align: center;
    border: 1px solid #dadada;
    border-bottom: 8px solid var(--custom-primary);
    font-size: 20px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--custom-transition);
    border-radius: 6px;

    &:hover {
        transform: translateY(-10px);
        background-color: #f0f0f0;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
        color: var(--bs-primary);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .quote {
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box !important;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        margin-bottom: 20px;
        &::before {
            content: '"';
        }
        &::after {
            content: '"';
        }
    }

    .name {
        &::before {
            content: "-";
        }
    }
}

.product__card {
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    box-shadow: 0 0 10px -5px var(--custom-secondary);
    border-radius: 15px;
    transition: var(--custom-transition);
    .product__img {
        img {
            min-width: 181px;
            object-fit: cover;
            aspect-ratio: 1;
            border-radius: 10px;
        }
    }
    .body {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
        font-family: Lato;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .main {
                h2 {
                    font-size: 21px;
                    text-transform: uppercase;
                    color: var(--custom-primary);
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 11px;
                    color: var(--custom-secondary);
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    margin-bottom: 5px;
                }
            }

            .tags {
                display: flex;
                gap: 5px;
                text-align: center;
                a {
                    display: block;
                    font-size: 11px;
                    color: #000;
                    border: 1px solid #535353;
                    padding: 3px 8px;
                    transition: var(--custom-transition);
                    &:hover {
                        background-color: #ececec;
                        border: 1px solid #999999;
                    }
                }
            }
            .price__wrap {
                p {
                    font-size: 13px;
                    color: var(--custom-primary);
                }
                .price {
                    h4 {
                        font-size: 27px;
                    }
                }
            }
        }

        .more__info {
            text-align: end;
            .icon {
                margin-bottom: 10px;
                img {
                    width: 71px;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .reviews {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 5px;
                margin-bottom: 10px;
                .left {
                    font-size: 17px;
                }
                .right {
                    padding: 5px 2px;
                    background-color: #ff0000;
                    color: #fff;
                    font-size: 29px;
                }
            }
        }
    }
    &:hover{
        box-shadow: 0 0 30px -5px var(--custom-secondary);
    }
}

@include responsive-max(768px) {
    .product__card {
        flex-direction: column;
        .product__img {
            img {
                width: 100%;
                min-width: 0;
                height: 200px;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 10px;
            }
        }
    }
}

@include responsive-max(575px) {
    .product__card {
        .body {
            flex-direction: column;
            .info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .main {
                    margin-bottom: 10px;
                    h2 {
                        font-size: 21px;
                        text-transform: uppercase;
                        color: var(--custom-primary);
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 11px;
                        color: var(--custom-secondary);
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        margin-bottom: 5px;
                    }
                }

                .tags {
                    margin-bottom: 10px;
                    flex-wrap: wrap;
                    a {
                        display: block;
                        font-size: 11px;
                        color: #000;
                        border: 1px solid #535353;
                        padding: 3px 8px;
                        transition: var(--custom-transition);
                        &:hover {
                            background-color: #ececec;
                            border: 1px solid #999999;
                        }
                    }
                }
                .price__wrap {
                    p {
                        font-size: 13px;
                        color: var(--custom-primary);
                    }
                    .price {
                        h4 {
                            font-size: 27px;
                        }
                    }
                }
            }

            .more__info {
                text-align: start;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .icon {
                    margin-bottom: 10px;
                    img {
                        width: 71px;
                        aspect-ratio: 1;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .reviews {
                    justify-content: flex-start;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 10px;
                    .left {
                        font-size: 17px;
                    }
                    .right {
                        padding: 5px 2px;
                        background-color: #ff0000;
                        color: #fff;
                        font-size: 29px;
                    }
                }
                .btn {
                    display: block;
                    margin-top: 20px;
                    grid-column: span 2;
                }
            }
        }
    }
}
